<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>DevPortfolio</ion-title>
    <ion-buttons slot="end">
      <ion-button [href]="profile.github" target="_blank">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
      <ion-button [href]="profile.linkedin" target="_blank">
        <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding portfolio-content">

  <!-- Hero Header Section -->
  <div class="hero-container ion-text-center ion-margin-bottom">
    <div class="avatar-wrapper">
    </ion-grid>
  </div>

              <p class="project-desc">{{ project.description }}</p>
              <ion-button fill="clear" size="small" class="ion-no-padding ion-margin-top">
                Explore Case Study


